html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#root {
    background-color: rgb(245, 248, 250);
    height: 100vh;
}

.pt-button, .pt-button-group {
    border-radius: 0px !important;
}
